body {
  background: 
    url(../images/pattern_inf.jpg) repeat-x,  
    url(../images/bg_flores.png) repeat;
    color: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}
html{
  height: 100%;
}
a{
  color: #E73F56;
}
footer{
  background: url(../images/pattern_inf.jpg) repeat-x bottom;
  bottom: 0;
  height: 20px;
  width: 100%;
  z-index: 2;
}
header{
  background: url(../images/flor_sup.png) no-repeat, url(../images/bg_header.png) no-repeat 420px 19px;
  height: 330px;
  margin: auto;
  /*margin-bottom: -180px;*/
  position: relative;
  width: 1050px;
  z-index: 2;
}
header h1{
  float: left;
  margin: 10px 0 10px 240px;
  width: 220px;
}
header .logos{
  background: url(../images/header_logos.png) no-repeat left 20px;
  float: right;
  text-align: right;
  width: 585px;
}
header .galleta{
  margin-left: -80px;
}
header .fechas{
  background: #fff;
  border-radius: 10px;
  box-shadow: #ccc 1px 1px 10px;
  clear: both;
  color: #929292;
  font-size: 13px;
  margin: auto;
  overflow: hidden;
  width: 810px;
}
header .fechas div{
  background: url(../images/dot-col.png) no-repeat right center;
  float: left;
  padding: 10px 0;
  text-align: center;
  width: 33%;
}
header .fechas div:last-child{
  background: 0;
}
header .fechas strong{
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  bottom: 39px;
  color: #fff;
  display: block;
  font-size: 15px;
  margin: 0 3%;
  padding: 7px 0; 
  position: absolute;
  width: 20%;
}
header .fechas strong.current{
  background: #9ec065;
}
header .fechas strong.next{
  background: #e9bf2d;
}
header .fechas strong.prev{
  background: #c84055;
}

.bs-docs-example{
  border-image: url(../images/dot-grid.png) 6 repeat;
  -moz-border-image: url(../images/dot-grid.png) 6 repeat;
  -webkit-border-image: url(../images/dot-grid.png) 6 repeat;
  border-width: 4px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
}
.bs-docs-example label.checkbox{
  margin-bottom: 20px;
}
.bs-docs-example .btn{
  background: #548dcb;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bs-docs-example .btn:hover{
  background: #c84055;
}
.bs-docs-example #aceptar{
  float: none;
  vertical-align: top;
}

.container{
  background: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 20px 25px; 
  position: relative;
  width: 760px;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

#fucking-flor{
  background: url(../images/flor_inf.png) no-repeat;
  bottom: -40px;
  display: block;
  height: 200px;
  position: absolute;
  right: -100px;
  width: 200px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}