body {
  background: 
    url(../images/pattern_inf.jpg) repeat-x,  
    url(../images/bg_flores.png) repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}
html{
  height: 100%;
}
a{
  color: #E73F56;
}
footer{
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
footer .logos-pie{
  background: url(../images/pata_logos3.png) no-repeat left bottom;
  height: 105px;
  float: right;
  padding-left: 130px;
  padding-top: 15px;
  text-align: left;
  width: 40%;
}

h2{
  color: #60605f;
  font-size: 35px;
}
p{
  color: #60605f;
  width: 500px;
}
.container{
  
  padding-bottom: 150px;
}
.container .span8{
  border: 6px dotted #ccc;
  border-top: 0;
  border-image: url(../images/dot.png) 6 repeat;
  -moz-border-image: url(../images/dot.png) 6 repeat;
  -webkit-border-image: url(../images/dot.png) 6repeat;
  margin: 0 10%;
  padding: 0 7% 50px;
  position: relative;

}
.logo-medellin{
  background: url(../images/flor_sup.png) no-repeat;
  height: 209px;
  margin-bottom: -180px;
  position: relative;
  text-align: right;
  z-index: 2;
}
.logo-feria{
  margin-bottom: 30px;
  text-align: center;
}
#fucking-flor{
  background: url(../images/flor_inf.png) no-repeat;
  bottom: -40px;
  display: block;
  height: 200px;
  position: absolute;
  right: -100px;
  width: 200px;
}
#fp{
  background: url(../images/pattern_29.jpg) repeat-x bottom;
  bottom: 0;
  height: 30px;
  position: fixed;
  z-index: 1;
  width: 100%;
}